table .table-report {
    border-collapse: collapse;
}
td th .table-report {
    padding: 5px;
}
th{    
    text-align: center;
}
.trow{
    -webkit-print-color-adjust: exact;
    background-color: #39e1e5;
}
table thead{
    background-color: #ffd200;
    -webkit-print-color-adjust: exact;
}